[data-aos='animate-slogun-bg'] {
  background: rgba($color: #eb691b, $alpha: 0);
  &.aos-animate {
    background: rgba($color: #eb691b, $alpha: 1);
  }
}

[data-aos='animate-slogun'] {
  color: #eb691b;
  &.aos-animate {
    color: white;
  }
}
